* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria;
  background-color: rgb(229, 229, 231);
}

/* apply styles to <header> */

header {
  width: 100%;
  padding: 20px 35px;
  background-image: url("./blue-ridge.jpg");
  background-attachment: fixed;
  background-size:cover;
  color: #ffeb66;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: navy;
  margin: 0;
  display:inline;
}

header a {
  text-decoration: none;
  color: navy;
}

header nav {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header nav ul li {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li a:hover {
  background: #fce138;
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

/*End of Header Style*/

/*Style of Footer*/

footer {
    background: rgba(240, 218, 98, 0.829);
    width: 100%;
    padding: 40px 35px;
    float: right;
    line-height: 1.5;
    text-align: right;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: gray;
}

footer span {
  line-height: 1.5;
  font-size: 15px;
}

/* apply styles to hero*/

.hero {
  background-image: url("./blue-ridge.jpg");
  background-size: cover;
  background-position: center;
  height: 275px;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  flex:auto;
  
}
.hero h2 {
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  color: #024e76;
  font-size: 18px;
  margin: auto;
  text-align: center;
  
}


/*hero style ends*/

/* main style section*/

section.two-col-row {
  font-size: 20px;
  border: 1px solid;
  color: navy;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: auto;
  text-align: center;
  
}
section.two-col-row > h2 {
    width:20%;
    text-align: right;
}

.photo {
  width: 500px;
}

.images {
  width: 100px;
}

.pictures {
  width: 100px;
}


section.two-col-row img {
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
  }

 
section.two-col-row p {
    font-size: 15x;
    text-align: center;
}


/* About Me style section ends*/

/* My Work style section*/


div.work-img {
    padding: 10%;
    display: inline-flex;
    flex-wrap: wrap;
   align-items: stretch;
    
  }

  div.work-img > div.row {
    display: flex;
    flex-flow: row nowrap;
  }


/*Contact Me style section */
 

  .info {
    display: flex;
    font-size: 15px;
    text-align: center;
    background-color: #7d7d7d;
    color: navy;
    font-weight: bold;
  }
  
  .info2 {
    justify-content: space-around;
  }
  
  .info3 {
    justify-content: space-between;
  }


  
 
  

/*Contact Me style end*/

/* FLEX */
.flex-row {
    text-align: left;
}

/*media quarties style starts*/


