* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(199, 199, 206, 0.918);
  }

 /* apply styles to <header> */

.header {
    width: 100%;
    padding: 20px 35px;
    background-color: rgba(66, 130, 248, 0.603);
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
      } 

.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
      }
      
 .header a {
        text-decoration: none;
        color: #fce138;
      }

.header nav {
    float: right;
    margin: 7px 0;
  }

.header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  } 
      
.header nav ul li {
    display: inline;
  }

.header nav ul li a:hover {
  background: #fce138;
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
  }

/*End of <head>*/

/*Style of Footer*/

footer {
    background: #ffeb66;
    width: 100%;
    padding: 40px 35px;
    
  }
  
  section {
    padding: 60px;
  }
