* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria;
  background-color: rgb(229, 229, 231);
}

/* apply styles to <header> */

header {
  width: 100%;
  padding: 20px 35px;
  background-image: url("./blue-ridge.jpg");
  background-attachment: fixed;
  background-size:cover;
  color:rgb(229, 229, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: navy;
  margin: 0;
  display:inline;
}

header a {
  text-decoration: none;
  color: navy;
}

header nav {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header nav ul li {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li a:hover {
  background: #fce138;
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

/*End of Header Style*/

/*Style of Footer*/

footer {
    background: rgba(240, 218, 98, 0.829);
    width: 100%;
    padding: 20px 20px;
    float: right;
    line-height: 1px;
    text-align: right;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: gray;
}

footer span {
  line-height: 1px;
  font-size: 15px;
}

/* apply styles to hero*/

.hero {
  background-image: url("./blue-ridge.jpg");
  background-size: cover;
  background-position: center;
  height: 275px;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  flex:auto;
  
}
.hero h2 {
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  color: #024e76;
  font-size: 18px;
  margin: auto;
  text-align: center;
  
}
/*hero style ends*/

main {
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}


/* main style section*/

section.two-col-row {
  font-size: 20px;
  color: navy;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  flex-basis: 50%;
    
}

/* section.two-col-row > h2 {
    width:20%;
    text-align: right;
    flex-basis: 10%;
} */

/* About Me Styleing*/

.firstinfo {
  display:flex;
  flex-direction: column;
  flex-basis: 70%;
}

.photo {
  width: 250px;
  text-align: center;
 
} 

.firstinfo p {
  text-align: top;
}

.second {
  font-size: 25px;
  color: white;
  text-align: center;  
  background-image:url("./Horiseon.PNG");
  background-size: cover;
  background-position: center;
  height: 275px;
  background-attachment:local;
  background-position: 90%;
  display: flex; 
  flex-basis: 70%;
  margin: 5%;
  padding: 10%;
  }

.second a {
  color: white;/* CSS link color (red) */
  font-weight: bold;
  font-size: 35px;
}

.second a:hover {
  color:yellow;
}

 .main-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
}  

.third {
  font-size: 25px;
  color: white;
  text-align: center;  
  background-image:url("./run-buddy.jpg");
  background-size: cover;
  /* background-position:right; */
  height: 50%;
  width: 50%;
  background-attachment:local;
  /* background-position: 50%; */
   display: flex; 
  /* flex-basis: 70%;  */
  margin: 5%;
  padding: 5%;
 
}
.third a {
  color: white;/* CSS link color (red) */
  font-weight: bold;
  font-size: 35px;
}

.third a:hover {
  color:yellow;
}

.fourth {
  font-size: 25px;
  color: white;
  text-align: center;  
  background-image:url("./plant1.jpg");
  background-size: cover;
  /* background-position:right; */
  height: 50%;
  width: 50%;
  background-attachment:local;
  /* background-position: 50%; */
   display: flex; 
  /* flex-basis: 70%;  */
  margin: 5%;
  padding: 5%;
 
}

.fourth a {
  color: white;/* CSS link color (red) */
  font-weight: bold;
  font-size: 35px;
}

.fourth a:hover {
  color:yellow;
}

.fifth {
  font-size: 25px;
  color: white;
  text-align: center;  
  background-image:url("./plant2.jpg");
  background-size: cover;
  /* background-position:right; */
  height: 50%;
  width: 50%;
  background-attachment:local;
  /* background-position: 50%; */
   display: flex; 
  /* flex-basis: 70%;  */
  margin: 5%;
  padding: 5%;
 
}
.fifth a {
  color: white;/* CSS link color (red) */
  font-weight: bold;
  font-size: 35px;
}

.fifth a:hover {
  color:yellow;
}

.sixth {
  font-size: 25px;
  color: white;
  text-align: center;  
  background-image:url("./plants3.jpg");
  background-size: cover;
  /* background-position:right; */
  height: 50%;
  width: 50%;
  background-attachment:local;
  /* background-position: 50%; */
   display: flex; 
  /* flex-basis: 70%;  */
  margin: 5%;
  padding: 5%;
 
}
.sixth a {
  color: white;/* CSS link color (red) */
  font-weight: bold;
  font-size: 35px;
}

.sixth a:hover {
  color:yellow;
}


/*Contact Me style section */
 

  section.col-two-row.info {
    display: flex;
    font-size: 15px;
    text-align: center;
    background-color: rgb(229, 229, 231);
    color: navy;
    font-weight:bold;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    flex-basis: 70%;
    font-weight: bold;
    }

  .info a {
      color: navy;/* CSS link color (red) */
      font-weight: bold;
      font-size: 20px;
    }
    
  .info a:hover {
      color:yellow;
    }
  

  
 /*Contact Me style end*/

 FLEX
.flex-row {
    text-align: left;
}

/*media quarties style starts*/


